*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

@font-face {
    font-family: 'Norse';
    src: url('assets/Norse-Bold.otf') format('opentype');
    font-weight: bold;
    font-style: normal;
  }

body{
    display: flex;
    align-items: center;
    justify-content: center;
}

.container{
    width: 100vw;
    height: 100vh;
    display: flex;

}

.left{
    background-color: red;
    width: 30%;
    height: 100%;
}

.left img{
 width: 100%;
 height: 100%;
 background-clip: border-box;
}

.right{
    width:70%;
    height: 100%;
    display: flex;
    /* flex-direction: column; */
    gap: 8rem;
    align-items: center;
    justify-content: center; 
    background-color: #f8f5f5; 
}

form{
    /* width:70%;
    height: 100%; */
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: left;
    justify-content: center;
    

}

.top_font{
    width: 75%;
    padding-left: 3rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    justify-content: center;
    font-family: "Lato", sans-serif;
    font-weight: 600;
    font-size: 1.8rem;
    /* font-style: normal; */
}

.form_box{
    margin-top: 2rem;
    background-color: white;
    padding: 2rem;
    border: none;
    padding-left: 3rem;
    box-shadow: 0px 0px 10px lightgray;
}

fieldset{
    border: none;
    font-family: "Lato", sans-serif;
    font-weight: 300;
    font-size: 0.8rem;
}

legend{
    font-family: "Lato", sans-serif;
    font-weight: 600;
    font-size: 1.2rem; 
}

.inputs{
margin-top: 1rem;
display: flex;
flex-direction: column;
gap: 1.5rem;
}

.input_row{
display: flex;
align-items: center;
justify-content: left;
gap: 7rem;
}

.inp_grp{
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
    gap: 0.2rem;

    font-family: "Lato", sans-serif;
    font-weight: 600;
    font-size: 0.6rem;
    letter-spacing: 1.5px;
}

input{
    width: 300px;
    height: 30px;
    padding: 0.4rem;
    border-radius: 2px;
    border: 1px solid #E5E7EB;
}

input:focus{
    border: 1px solid blue;
}

input:invalid{
    border: 1px solid red;
}

.bottom_font{
    padding-left: 3rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: center;
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-size: 1rem;
}

.btn{
    width: 200px;
    background-color: #596D48;
    font-size: 1rem;
    padding: .8rem 2rem;
    border: none;
    border-radius: 8px;

    color: white;
    font-family: "Lato", sans-serif;
    font-weight: 500;
    font-size: 1rem;
}

.overlay{
    position: absolute;
    top: 10rem;
    left: 0;
    background: rgba(0, 0, 0, 0.5);
    padding: 1rem;

    display: flex;
    align-items: center;
    justify-content: center;
    width: 30%;
}

img{
    width: 6rem;
}

.creds{
    width: 30%;
    position: absolute;
    bottom: 1rem;
    left: 0;
    color: white;
    text-align: center;
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-size: .8rem;
}

.creds a{
    color: white;
}

.tagline{
    height: 6rem;
 
}

.odin{
    font-size: 6rem; 
    color: white;
    font-family: Norse;
    /* vertical-align: center; */
    /* line-height: 4rem; */

  padding-top: 10px;

  
}

