*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
}

.container{
    width: 100vw;
    height: 100vh;
    display: flex;

}

.left{
    background-color: red;
    width: 30%;
    height: 100%;
}

.left img{
 width: 100%;
 height: 100%;
}

.right{
    background-color: white;
    width:70%;
    height: 100%;
}